<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"?>
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>forcePIN</key>
			<true/>
			<key>requireAlphanumeric</key>
			<true/>
			<key>minLength</key>
			<integer>12</integer>
			<key>minComplexChars</key>
			<integer>1</integer>
			<key>pinHistory</key>
			<integer>5</integer>
			<key>PayloadDisplayName</key>
			<string>Passcode</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.mobiledevice.passwordpolicy</string>
			<key>PayloadType</key>
			<string>com.apple.mobiledevice.passwordpolicy</string>
			<key>PayloadUUID</key>
			<string>6H0F8GG8-E9HC-8F4F-3GB1-0HCI7J6E5F9G</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>PayloadDisplayName</key>
	<string>004-SEC-Password-ALL</string>
	<key>PayloadIdentifier</key>
	<string>com.attuned.security.password</string>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>7I1G9HH9-F0ID-9G5G-4HC2-1IDJ8K7F6G0H</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
